<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>
  <!-- TODO: Before release, remove the "throwExceptions" flag and set minimum levels to "Info" instead of "Debug" -->
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" throwExceptions="true" >
    <targets>
      <target name="File" xsi:type="File" fileName="${logdirectory}/${appname}.log" archiveFileName="${logdirectory}/${appname}.{#}.log"
              archiveAboveSize="5000000" archiveNumbering="Rolling" maxArchiveFiles="2" concurrentWrites="false" keepFileOpen="true"
              encoding="utf-8" layout="[${date:format=yyyy-MM-dd HH\:mm\:ss,fff}][${level:uppercase=true:padding=-5:fixedLength=true}][${processid:padding=-4:fixedLength=true}][${appname}][${callsite:skipFrames=3:cleanNamesOfAnonymousDelegates=True}] ${message} ${exception:format=toString:separator=\r\n}" />
      <target name="Console" xsi:type="Console" layout="[${date:format=yyyy-MM-dd HH\:mm\:ss,fff}][${level:uppercase=true:padding=-5:fixedLength=true}][${processid:padding=-4:fixedLength=true}][${appname}][${callsite:skipFrames=3:cleanNamesOfAnonymousDelegates=True}] ${message} ${exception:format=toString:separator=\r\n}" />
    </targets>
    <rules>
      <!-- minLevel is overriden in App.config. If you want to change it, do it there, not here. -->
      <logger name="FileLogger" minlevel="Debug" writeTo="File" />
      <logger name="*" minlevel="Debug" writeTo="Console" />
    </rules>
  </nlog>
</configuration>
